@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Proxima-Nova-Reg';
    src: url('./fonts/ProximaNova/Proxima Nova Reg.otf');
}

@font-face {
    font-family: 'Proxima-Nova-Reg-It';
    src: url('./fonts/ProximaNova/Proxima Nova Reg It.otf');
}

@font-face {
    font-family: 'Proxima-Nova-Alt-Cond-Black';
    src: url('./fonts/ProximaNova/Proxima Nova Alt Cond Black.otf');
}

@layer components {
    .input-primary {
        @apply outline-none box-border p-4 border-2 border-neutral-400 bg-transparent rounded-lg text-2xl font-Proxima-Nova-Reg tracking-wider text-white focus:border-white placeholder:font-Proxima-Nova-Reg-It;
    }
}

@layer components {
    .input-text {
        @apply text-2xl font-Proxima-Nova-Reg tracking-wider text-white;
    }
}

@layer components {
    .input-error {
        @apply text-lg font-Proxima-Nova-Reg tracking-wider text-red-500;
    }
}

@layer components {
    .input-select {
        @apply outline-none box-border p-4 border-2 border-neutral-400 bg-transparent rounded-lg text-2xl font-Proxima-Nova-Reg tracking-wider text-white focus:border-white;
    }
}

/* @layer components {
    .react-calendar button {
        @apply outline-none px-0 border-2 border-red-600 bg-red-950 rounded-lg text-2xl font-Proxima-Nova-Reg tracking-wider text-red-600 focus:border-white focus:text-white focus:bg-neutral-700 placeholder:font-Proxima-Nova-Reg-It disabled:opacity-25 disabled:border-neutral-400 disabled:text-white disabled:bg-transparent;
    }
} */

     